/*  ==========================================================================
    Layout
    ========================================================================== */

    /*
     * CSS for all devices
     */

    @media only screen {
		.btn {

			&.btn-info {
				background: $color-info;
			}


			&.btn-outline-primary,
			&.btn-outline-info {
				position: relative;

				padding: 1.125rem 1.5625rem;

				font-size: 0.9375rem;
				font-weight: 400;
				line-height: 1.625rem;
				color: $color-gray-darkest;

				border-color: $color-gray-border;

				&:hover {
					color: $color-white;
					background: $color-gray-darkest;
				}

				&.w-auto {
					width: auto !important;
					min-width: 130px !important;
				}

				.icon {
					position: absolute;
					right: 15px;
					top: 51%;

					@include transform(translateY(-50%));
				}
			}

			&.btn-outline-cont.btn-outline-primary,
			&.btn-outline-cont.btn-outline-info {
				padding: 0.4375rem 0.9375rem;

				min-width: 198px;
				height: auto;
				text-align: left;
			}

			&.btn-outline-primary,
			&.btn-outline-info {
				position: relative;

				padding: 1.125rem 1.5625rem;

				font-size: 0.9375rem;
				font-weight: 400;
				line-height: 1.625rem;
				color: $color-gray-darkest;

				border-color: $color-gray-border;

				&:hover {
					color: $color-white;
					background: $color-gray-darkest;
				}

				&.w-auto {
					width: auto !important;
					min-width: 130px !important;
				}

				.icon {
					position: absolute;
					right: 15px;
					top: 51%;

					@include transform(translateY(-50%));
				}
			}

			&.btn-outline-info {
				background: $color-info;
				border-color: $color-info;
				@include transition(.2s);

				&:hover {
					color: $color-gray-darkest;

					background: $color-info;
					border-color: $color-info;

					opacity: .7;

					@include transition(.2s);
				}
			}

			&.btn-primary {
				background-color: $color-primary;
				border-color: $color-primary;
			}

			&.btn-info {
				background-color: $color-info;
				border-color: $color-info;

				&.rounded {
					width: 30px;
					height: 30px;

					border-radius: 100% !important;

					i {
						margin-left: -4.5px;
					}

					&:after {
						display: none;
					}

					.hamburguer {
						position: relative;
						display: block;
						background: $color-white;
						width: 15px;
						height: 2px;
						top: 0;
						left: -5.5px;

						&:before,
						&:after {
							background: $color-white;
							content: '';
							display: block;
							width: 100%;
							height: 100%;
							position: absolute;
							transition: .5s ease-in-out;
						}

						&:before {
							top: -5px;
						}

						&:after {
							bottom: -5px;
						}
					}
				}
			}

			&.btn-rounded {
				text-align: center;

				.circle {
					width: 100px;
					height: 100px;

					border: 1px solid $color-gray-darkest;
					@include border-radius(100%);

					&.groups-enterprise {
						background: $color-info;
					}
				}

				.text {
					margin-top: 2px;

					font-size: 15px;
					font-weight: 100;
				}

				&:nth-child(even) {
					margin: 0 40px;
				}
			}
		}
    }


    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
