/*  ==========================================================================
    Layout
    ========================================================================== */

    /*
     * CSS for all devices
     */

    @media only screen {
		.btn {

			&.btn-info {
				background: $color-info;
			}

			&.btn-outline-cont {
				padding: 0.4375rem 0.9375rem !important;

				min-width: 198px !important;
				height: auto !important;
				text-align: left !important;
			}

			&.btn-outline-primary {
				position: relative;

				padding: 1.125rem 1.5625rem;

				font-size: 0.9375rem;
				font-weight: 400;
				line-height: 1.625rem;
				color: $color-gray-darkest;

				border-color: $color-gray-darkest;

				&:hover {
					color: $color-white;
					background: $color-gray-darkest;
				}

				.icon {
					position: absolute;
					right: 15px;
					top: 50%;

					@include transform(translateY(-50%));
				}
			}

			&.btn-primary {
				background-color: $color-primary;
				border-color: $color-primary;

				&.dropdown-toggle {
					width: 26px;
					height: 26px;

					@include border-radius(100%);

					&:after {
						display: none;
					}
				}
			}
		}
    }


    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
