/*  ==========================================================================
    Icons
    ========================================================================== */

    /*
     * CSS for all devices
     */

     @media only screen {
        .icon {
            display: inline-block;

            &.notification {
                width: 20px;
                height: 25px;

                background: url(./img/icons/notification.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}

			&.like {
				width: 13px;
                height: 13px;

                background: url(./img/icons/curtir.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}

			&.comment {
				width: 13px;
                height: 11px;

                background: url(./img/icons/actions/comentar.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}

			&.next {
				width: 17px;
                height: 15px;

                background: url(./img/icons/actions/proximo.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}

			&.delete {
				width: 16px;
                height: 18px;

                background: url(./img/icons/mensagens/excluir-mensagem-ativa.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}

			&.close-danger {
				width: 14px;
                height: 14px;

                background: url(./img/icons/mensagens/cancelar.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(1px));
			}

			&.save {
				width: 18px;
                height: 18px;

                background: url(./img/icons/actions/salvar.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(1px));
			}

			&.mail-send {
				width: 18px;
                height: 18px;

                background: url(./img/icons/forms/convite.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(1px));
			}

			&.send {
				width: 14px;
                height: 14px;

                background: url(./img/icons/mensagens/enviar.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(1px));
			}

			&.attachament {
				width: 9px;
                height: 18px;

                background: url(./img/icons/mensagens/anexar-arquivo.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
			}

			&.field-edit {
				width: 16px;
                height: 18px;

                background: url(./img/icons/mensagens/anexar-arquivo.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
            }

            &.edit {
				width: 16px;
                height: 18px;

                background: url(./img/icons/actions/editar.svg) center center no-repeat;
				background-size: 100%;

				&.white {
					background: url(./img/icons/actions/editar-white.svg) center center no-repeat;
					background-size: 94%;
				}

                @include transform(translateY(3px));
            }

            &.plus-rounded {
				width: 26px;
                height: 26px;

                background: url(./img/icons/actions/plus-rounded-light.svg) center center no-repeat;
                background-size: 100%;
            }

			&.plus {
				width: 14px;
                height: 14px;

                background: url(./img/icons/forms/adicionar.svg) center center no-repeat;
				background-size: 100%;

				&.info {
					background: url(./img/icons/forms/adicionar-info.svg) center center no-repeat;
					background-size: 100%;
				}

				&.dark-rounded,
				&.dark-primary {
					width: 25px;
					height: 25px;

					background: url(./img/icons/actions/plus-dark.svg) center center no-repeat;
					background-size: 90%;
				}

				&.dark-primary {
					background: url(./img/icons/actions/plus-rounded-light.svg) center center no-repeat;
					background-size: 90%;
				}

			}

			&.play-outline {
				width: 25px;
				height: 25px;

				background: url(./img/icons/actions/play-outline.svg) center center no-repeat;
				background-size: 100%;
			}

			&.menagement-task-base {
				width: 25px;
				height: 25px;

				background: url(./img/icons/actions/menagement-task-base.svg) center center no-repeat;
				background-size: 100%;
			}

			&.pen-edit {
				width: 14px;
                height: 14px;

                background: url(./img/icons/forms/alterar-avatar.svg) center center no-repeat;
				background-size: 100%;

				@include transform(rotate(180deg));
            }

			&.copy {
				width: 14px;
                height: 14px;

                background: url(./img/icons/forms/alterar-avatar.svg) center center no-repeat;
				background-size: 100%;

				@include transform(rotate(180deg));
            }

            &.export {
                width: 28px;
                height: 28px;

                background: $color-info url(./img/icons/actions/exportar-lista.svg) center center no-repeat;
                background-size: 50%;

                @include border-radius(100%);
                @include transform(translateY(3px));
            }

			&.back {
                width: 24px;
                height: 24px;

                background: $color-info url(./img/topo/voltar.svg) right 5px center no-repeat;
                background-size: 50%;

                @include border-radius(100%);
                @include transform(translateY(3px));
			}

			&.new-employed {
				width: 81px;
                height: 81px;

                background: url(./img/icons/rh/novo-funcionario.svg) center center no-repeat;
                background-size: 78%;

                @include transform(translateY(3px));
			}

			&.new-taxpayer {
				width: 81px;
                height: 81px;

                background: url(./img/icons/rh/novo-contribuinte.svg) center center no-repeat;
                background-size: 78%;

                @include transform(translateY(3px));
			}

			&.new-trainee {
				width: 81px;
                height: 81px;

                background: url(./img/icons/rh/novo-estagiario.svg) center center no-repeat;
                background-size: 78%;

                @include transform(translateY(3px));
			}

			&.request-vacation {
				width: 81px;
                height: 81px;

                background: url(./img/icons/rh/solicitar-ferias.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
			}

			&.request-recession {
				width: 81px;
                height: 81px;

                background: url(./img/icons/rh/solicitar-recisao.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
			}

			&.request-removal {
				width: 81px;
                height: 81px;

                background: url(./img/icons/rh/solicitar-afastamento.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
			}

			&.event-payment {
				width: 81px;
                height: 81px;

                background: url(./img/icons/rh/evento-em-folha.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
			}

			&.pdf {
				width: 81px;
                height: 81px;

                background: url(./img/icons/documentos/pdf.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
			}

			&.txt {
				width: 81px;
                height: 81px;

                background: url(./img/icons/documentos/txt.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
			}

			&.xls {
				width: 81px;
                height: 81px;

                background: url(./img/icons/documentos/xls.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
			}

			&.contabil {
				width: 81px;
                height: 81px;

                background: url(./img/icons/documentos/contabil.svg) center center no-repeat;
                background-size: 89%;

                @include transform(translateY(3px));
			}

			&.download {
				width: 18px;
                height: 20px;

                background: url(./img/icons/documentos/download-black.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
			}

			&.share {
				width: 18px;
                height: 20px;

                background: url(./img/icons/documentos/compartilhar-black.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
			}

			&.to-file {
				width: 18px;
                height: 20px;

                background: url(./img/icons/mensagens/arquivos.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
			}
        }

        .circle {
            display: inline-block;

            width: 10px;
            height: 10px;

            @include border-radius(100%);

            &.primary {
                background: $color-info;
            }

            &.danger {
                background: $color-tertiary;
            }
        }
    }


    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
