/*  ==========================================================================
    Icons
    ========================================================================== */

    /*
     * CSS for all devices
     */

     @media only screen {
        .icon {
            display: inline-block;

            &.notification {
                width: 20px;
                height: 25px;

                background: url(./img/icons/notification.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}

			&.like {
				width: 13px;
                height: 13px;

                background: url(./img/icons/curtir.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}

			&.comment {
				width: 13px;
                height: 11px;

                background: url(./img/icons/comentar.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}

			&.delete {
				width: 16px;
                height: 18px;

                background: url(./img/icons/mensagens/excluir-mensagem-ativa.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}
        }
    }


    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
