/*  ==========================================================================
    Icons
    ========================================================================== */

    /*
     * CSS for all devices
     */

     @media only screen {
        .icon {
            display: inline-block;

            &.notification {
                width: 20px;
                height: 25px;

                background: url(./img/icons/notification.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}

			&.like {
				width: 13px;
                height: 13px;

                background: url(./img/icons/curtir.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}

			&.comment {
				width: 13px;
                height: 11px;

                background: url(./img/icons/comentar.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}

			&.delete {
				width: 16px;
                height: 18px;

                background: url(./img/icons/mensagens/excluir-mensagem-ativa.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(0px));
			}

			&.close-danger {
				width: 14px;
                height: 14px;

                background: url(./img/icons/mensagens/cancelar.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(1px));
			}

			&.send {
				width: 14px;
                height: 14px;

                background: url(./img/icons/mensagens/enviar.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(1px));
			}

			&.attachament {
				width: 9px;
                height: 18px;

                background: url(./img/icons/mensagens/anexar-arquivo.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
			}

			&.field-edit {
				width: 16px;
                height: 18px;

                background: url(./img/icons/mensagens/anexar-arquivo.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
            }
            
            &.edit {
				width: 16px;
                height: 18px;

                background: url(./img/icons/actions/editar.svg) center center no-repeat;
                background-size: 100%;

                @include transform(translateY(3px));
            }
            
            &.plus-rounded {
				width: 26px;
                height: 26px;

                background: url(./img/icons/actions/plus-rounded-light.svg) center center no-repeat;
                background-size: 100%;
            }
            
            &.export {
                width: 28px;
                height: 28px;

                background: $color-info url(./img/icons/actions/exportar-lista.svg) center center no-repeat;
                background-size: 50%;
                
                @include border-radius(100%);
                @include transform(translateY(3px));
            }
        }

        .circle {
            display: inline-block;

            width: 10px;
            height: 10px;

            @include border-radius(100%);

            &.primary { 
                background: $color-info;
            }

            &.danger { 
                background: $color-tertiary;
            }
        }
    }


    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
