/*  ==========================================================================
    Inputs
    ========================================================================== */

    /*
     * CSS for all devices
     */

	@media only screen {
		.form-control {
			margin-bottom: 10px;
			padding: 28px 26px;
			font-weight: 100;
			color: $color-gray-darkest;

			border: 1px solid $color-gray-border;

			@include border-radius(4px);

			&::placeholder {
				color: $color-gray-darkest;
			}
		}

		.range-days {
			height: 58px;
			background: $color-gray-light;

			border-left: 5px solid #fff;
			border-right: 5px solid #fff;

			@include border-radius(9px);

			&.no-border {
				border: 0;
			}

			input[type=text] {
				width: 65px;
				margin: 0 15px;
				padding: 22px 0;
				text-align: center;

				span {
					font-weight: 300;
				}
			}
		}

		select {
			width: 100%;
			height: 58px;

			padding: 0 26px;
			margin-bottom: 10px;

			font-weight: 100;
			color: $color-gray-darkest;

			background: $color-gray-light url(img/icons/forms/arrow-select.svg) right 10px center no-repeat;

			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
		}

		.date-picker {
			background: $color-gray-light url(img/icons/forms/date.svg) right 20px center no-repeat;

			&::-webkit-calendar-picker-indicator,
			&::-webkit-inner-spin-button {
				display: none;
			}
		}

		.form-cont {
			label {
				margin: 15px 0 5px;

				font-size: 17px;
				color: $color-gray;
			}

			.step {
				&:nth-child(even) {
					margin-top: 20px;
					margin-bottom: 10px;
					padding-top: 20px;
					padding-bottom: 10px;

					border-top: 1px solid $color-gray-darkest;
					border-bottom: 1px solid $color-gray-darkest;
				}

				&.no-border-bottom {
					border-bottom: none;
				}

				>.body-form {
					height: calc(100% - 10px);
					padding-right: 20px;

					border-right: 1px solid $color-gray-border;
				}

				>.side-form {
					padding-left: 10px;

					.custom-switch {
						margin-bottom: 21px;
					}
				}
			}

			.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
				padding-left: 5px;
				padding-right: 5px;
			}

			.row {
				margin-left: -5px;
				margin-right: -5px;
			}
		}
    }


    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
