/*  ==========================================================================
    Inputs
    ========================================================================== */

    /*
     * CSS for all devices
     */

	@media only screen {
		.form-control, select.form-control {
			margin-bottom: 10px;
			padding: 28px 26px;
			font-weight: 100;
			color: $color-gray-darkest;

			border: 1px solid $color-gray-border;

			@include border-radius(4px);

			&::placeholder {
				color: $color-gray-darkest;
			}
		}

		select.form-control {
			height: 58px;
		}
    }


    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
