/*  ==========================================================================
    Selects
    ========================================================================== */

    /*
     * CSS for all devices
     */

     @media only screen {
		.custom-select {
			width: 198px;
			height: auto;

			padding: 0.6563rem 0.9375rem 0.7813rem;

			background: transparent url(img/icons/forms/arrow-select.svg) right 10px center no-repeat;

			font-size: 17px;
			font-weight: 400;
			line-height: 1;
			letter-spacing: 0.5px;
			color: $color-white;

			border: 0.0625rem solid $color-gray-dark;

			-webkit-appearance: none;
			-moz-appearance:    none;
			appearance:         none;
		}
    }


    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
