/*  ==========================================================================
    Tables
    ========================================================================== */

    /*
     * CSS for all devices
     */

	@media only screen {

		#taskList {
			padding-top: 30px;
			height: calc(100% - 261px);

			& > div {
				padding: 0 35px 0 19px;
			}


			&.headered {
				height: calc(100% - 331px);
			}

			&.no-footer {
				height: calc(100% - 168px);
			}
		}

		.table-header {
			padding-top: 1.875rem;

			.task-list-title {
				margin-left: 1.25rem;
			}

			.btn.btn-outline-cont {
				margin-left: 0.625rem;
				padding-right: 45px !important;
				
				min-width: auto !important;
			}
		}

		.list-itens.table-borderless {
			border-collapse: separate;
			border-spacing: 0 5px;

			thead {
				th {
					padding-bottom: 0;

					font-size: 14px;
					font-weight: 400;

					text-align: center;
				}

				th:first-child {
					padding-left: 0;
					padding-right: 0;
				}

				th:nth-child(2) {
					text-align: left;
				}
			}

			tbody {
				tr {
					td {
						padding: 16px;
						vertical-align: middle;

						font-size: 14px;
						font-weight: 400;

						text-align: center;

						border-top: 1px solid $color-gray-border;
						border-bottom: 1px solid $color-gray-border;
						background: $color-gray-light;

						.form-check-input {
							width: 30px;
							height: 30px;
						}

						small {
							font-size: 12px;
						}

						&:first-child {
							@include border-top-left-radius(3px);
							@include border-bottom-left-radius(3px);

							border-left: 1px solid $color-gray-border;
						}

						&:last-child {
							padding-right: 35px;

							@include border-top-right-radius(3px);
							@include border-bottom-right-radius(3px);

							border-right: 1px solid $color-gray-border;
						}
					}

					&.active {
						td {
							background: $color-info-light;
							border-color: $color-info;
						}
					}
				}
			}

			&.custom-action {
				tr {
					td:first-child {
						width: 30px;

						background: transparent;
						border: none;
					}

					td:nth-child(2) {
						border-left: 1px solid $color-gray-border;
						border-radius: 3px;

						text-align: left;
					}
				}

				tr.active {
					td:nth-child(2) {
						border-left: 1px solid $color-info;
					}
				}
			}
		}
    }


    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
