/*  ==========================================================================
    Typography
    ========================================================================== */

    /*
     * CSS for all devices
     */

	 @media only screen {

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;

            font-family: $font-family;
        }

        /*  Titles
            ========================================================================== */
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-weight: 700;
                margin: 0 0 0 0;
				color: $color-gray-darkest;
            }

            h1{
                font-size: 2.25em;
                line-height: 1.125;
            }

            h2{
                font-size: 22px;
                line-height: 2.0625rem;
            }

            h3{
                font-size: 1.5625rem;
                line-height: 1.5625rem;
            }

            h4{
                font-size: 1.125em;
                line-height: 1.25;
            }

            h5{
                font-size: 14px;
                line-height: 18px;
            }

            h6{
                font-size: 12px;
                line-height: 16px;
			}

			small {
				color: $color-gray-darkest;
			}

			.header-title {
				padding-right: 15px;
				margin-top: 2.5rem;
                margin-bottom: 0.9375rem;

				&.border-bottom {
					margin-top: 29px;
					padding-bottom: 24px;
					border-bottom: 1px solid $color-gray-border;
				}

                h2 {
                    line-height: 27px;
				}

				&.header-controls {
					margin-top: 25px;
					margin-bottom: 1px;

					> div[class^="col-"] {
						padding-left: 0;
					}

					a {
						margin-left: -15px;
					}

					&.border-bottom {
						padding-bottom: 17px;
					}
				}
			}

			.subtitle {

				&.border-bottom {
					border-bottom: 1px solid $color-gray-border;
				}

				h2 {
					padding: 10px 0 22px;

					&.check-data {
						font-weight: 100;
					}
				}

				p {
					padding: 16px 0 27px;
					font-weight: 100;

					span {
						&:first-child {
							padding-right: 10px;
							margin-right: 10px;

							position: relative;

							&:after {
								position: absolute;
								right: 0;
								top: 0;

								content: '';
								width: 1px;
								height: 100%;
								background: $color-gray-darkest;

							}
						}
					}
				}

				button:nth-child(even) {
					margin: 0 7px;
				}

				.search {
					form {
						padding: 0;

						input {
							margin: 0;

							height: 79px;
						}
					}
				}
			}

        /*  Texts
            ========================================================================== */
            p {
                color: $color-gray-darkest;
                font-family: $font-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                margin: 0;
            }

        /*  Lists
            ========================================================================== */
            ul,
            ol,
            dl {
                color: $color-gray-darkest;
                font-size: 16px;
                font-size: 1rem;
                line-height: 1.575;
                margin: 0 0 30px;
            }

        /*  Blockquotes
            ========================================================================== */
            blockquote {
                border-left: 6px solid $color-gray-light;
                padding: 0 0 0 22px;
                margin: 15px 20px;
            }

        /*  Links
            ========================================================================== */
            a {
                color: $color-gray-darkest;
                text-decoration: none;
				@include transition(.2s)
            }

            a:hover {
				opacity: .7;
				color: $color-gray-darkest;
				text-decoration: none;
				@include transition(.2s)
			}

        /*  Figure
            ========================================================================== */
            figure{
                margin: 0;
            }
    }

    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }


    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
