/*  ==========================================================================
    Arquivos
    ========================================================================== */

    /*
     * CSS for all devices
     */

	 @media only screen {
		#arquivos {
			.header-title {
				.action-button {
					margin-left: -53px;
				}

				.btn-outline-cont {
					min-width: auto !important;

					padding-right: 45px;

					&:nth-child(even) {
						margin:0 5px;
					}
				}
			}
		}

		#ArquivosViewer {
			min-height: calc(100% - 86px);

			.doc-viewer-header {
				margin-top: 45px;
				padding-right: 30px;

				.doc-viewer-details {
					.item-detail {
						position: relative;

						small { font-size: 14px; }
						h4 {
							font-weight: 100;
							font-size: 22px;
						}

						&:first-child {
							text-align: right;
						}

						&:last-child {
							padding-left: 20px;
							margin-left: 20px;

							&:after {
								content: '';

								position: absolute;
								top: 0;
								left: 0;

								width: 1px;
								height: 90%;

								background: $color-gray-border;
							}
						}
					}
				}

			}

			.viewer {
				padding: 30px 90px 70px 60px;

				img {
					width: 100%;
				}
			}
		}
    }


    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
