/*  ==========================================================================
    Inicio
    ========================================================================== */

    /*
     * CSS for all devices
     */

     @media only screen {
		#inicio {
			#feedContainer {
				height: calc(100vh - 58px);

				border-right: 1px solid $color-gray-lightest;

				#feedScrollable {
					padding-left: 50px;
					padding-right: 50px;

					overflow-y: scroll;
				}

				.header, .header-title {
					@extend #feedScrollable;

					overflow-y: visible;
				}
			}
		}
    }


    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

    }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

    }
