::-moz-selection {
    background: #666;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #666;
    text-shadow: none;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
	padding-top: 3.625rem;

	background: $color-gray-light;

    overflow-x: hidden;
    font-family: $font-family;
}

img,
object,
embed,
iframe { max-width: 100%; }

img { height: auto; }

* { @include box-sizing(); }

.container {
	position: relative;
}

section {
	.container {
		background: $color-white;
	}
}

.pr-37 {
	padding-right: 37px;
}

hr {
    margin: 0;
    padding: 0;
    
    height: 1px;

    border: 0;
}

@media (min-width: 1200px) {
    .container{
        min-width: 1200px;
    }
}
